<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                Articles
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input #title name="q" class="form-control" placeholder="Search by title"/>
                </div>
                <button type="submit" (click)="searchByTitle(title.value, $event)" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </form>
            <!-- WATCH OUT @ DO NOT USE BIG LETTERS AS VARIABLES WITH #-->

        </div>
    </div>
</nav>
<div class="container-fluid main-container">
    <div class="col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a [router-link]="['./Home']">Home</a></li>
            <li *ng-for="#link of list; #idx = index" ><a [router-link]="['./Article',{id: link.id}]">{{link.name}}</a></li>
        </ul>
    </div>
    <div class="col-md-10 content">
        <router-outlet></router-outlet>
    </div>
    <footer class="pull-left footer">
        <p class="col-md-12">
        <hr class="divider">
        </p>
    </footer>
</div>